@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

/* Header Section Desing */

header{
  background: #FF900E20;
}

.header-section h3{
  font-size: 2.6rem;
}
.header-section{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.header-section li{
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
}
.header-section li a{
  text-decoration: none;
  color: #424242;
  font-size: 18px;
}

/* Common CSS */
body p{
  font-size: 1rem;
  color: #727272;
  line-height: 26px;
}

.content-areia-width{
  max-width: 1440px;
  margin: 0 auto;
}

.header-font-color{
  color: #131313;
}

.btn-primary{
  padding: 20px 25px;
  background: #FF900E;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 25px;
}

/* Banner Design */
.banner{
  text-align: center;
  padding: 116px 289px 50px 289px;
}

.banner-title{
  font-size: 4rem;
  margin-bottom: 25px;
}

.banner-image img{
  margin: 0 auto;
  padding-bottom: 45px;
  width: 100%;
}

/* Our Team Section */
.team-section{
  max-width: 1318px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 80px 0px;
}

.quick-list{
  color: #727272;
  font-weight: 500;
}

.team-font{
  color: #FF900E;
}

.team-pictures > div{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.team-content-box{
  max-width: 537px;
  margin-left: 70px;
}
.team-content-box h3{
  font-size: 2.8rem;
  margin-bottom: 20px;
}

/* Our Features Section */
.features-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-title{
  border-left: 5px solid #FF900E;
  font-size: 2.8rem;
  padding-left: 20px;
  margin-bottom: 20px;
}
.feature-title-section p{
  margin-bottom: 20px;
}

.feature-content-box{
  max-width: 586px;
}

.feature-item-box{
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 4px 30px 0px #00000010;
}

.architect-image{
  width: 100%;
}

.btn-ten-years{
  padding: 45px;
  background: #FF900E;
  color: white;
  border-style: none;
  border-radius: 10px;
  margin-top: -72px;
  margin-left: -92px;
}

.ten-years{
  font-size: 4rem;
  font-weight: bold;
}

.experience-text{
  font-size: 1.5rem;
  font-weight: 600;
}

/* Some Facts Section */
.facts-section{
  margin-top: 100px;
  margin-bottom: 100px;
}
.facts-content-box{
  max-width: 542px;
}

.facts-content-box h2{
font-size: 2.8rem;
margin-bottom: 20px;
}

.fact-item-container{
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}

.facts-items{
  /* box-sizing: border-box; */
  border: 1px solid #FF900E;
  border-radius: 10px;
  padding: 45px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facts-items span{
  font-size: 2.8rem;
  display: block;
  font-weight: bold;
  margin: 5px 0;
}
.facts-items p{
  font-size: 1.25rem;
  font-weight: 600;
}

/* Sponsors Section */
.sponsors-content{
  text-align: center;
}
.sponsors-content h3{
  font-size: 2.8rem;
  margin-bottom: 20px;
}
.sponsors-content p{
  font-size: 1rem;
  max-width: 542px;
  margin: 0 auto;
}

.sponsors-images{
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  filter: grayscale(100%)
}


@media screen and (max-width: 576px) {
  .header-section{
    flex-direction: column;
  }

  .header-section li{
    margin: 10px 5px;
  }

  /* banner section */
  .banner{
  text-align: center;
  padding: 20px;
}

  .banner-image{
    width: 100%;
  }

.banner-title{
  font-size: 2rem;
  margin-bottom: 25px;
}


/* Our Team Section */
.team-section{
  display: flex;
  flex-direction: column;
}

.team-pictures > div{
  display: grid;
  justify-content: end;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0 auto;
}

.team-title{
  margin: 30px 0px;
}
.team-content-box{
  margin-left: 20px;
}

/* Feature Section */
.features-section{
  display: flex;
  flex-direction: column;
}

.feature-title-section{
  padding: 20px;
}

.feature-content-box{
  width: 100%;
}

.feature-title{
  border-left: 5px solid #FF900E;
  font-size: 2rem;
  padding-left: 20px;
  margin-bottom: 20px;
}

.feature-image{
  display: flex;
  flex-direction: column-reverse;
}

.btn-ten-years{
  padding: 45px;
  background: #FF900E;
  color: white;
  border-style: none;
  border-radius: 10px;
  margin: 0px auto;
}

.ten-years{
  font-size: 2rem;
  font-weight: bold;
}

.experience-text{
  font-size: 1rem;
  font-weight: 600;
}

/* Facts Section */
.fact-item-container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.facts-content-box{
  margin-top: 50px;
  padding: 0 20px;
}


.facts-items{
  margin: 20px;
}

/* Sponsors */
.sponsors-images{
  flex-direction: column;
  width: 100%;
}

.sponsors-images img{
  padding: 30px;
  width: 100px;
  margin: 0 auto;
}

.sponsors-content{
  padding: 20px;
}
}